{% assign vidsInSerie = collections.videos | getVideosInSeries: serieTitle %}
{% assign vidCount = vidsInSerie | size %}

{% if vidCount > 0 %}
    <h2 class="no-margin">{{serie.title}}</h2>
    <div class="video-details">

        <div class="next-to-each-other">
            <div class="thumb-wrapper">
                <a href="{{vidsInSerie[0].url}}" aria-label="Play the first video in the series '{{ serie.title }}'">
                    <img src="/assets/img/play-button.svg" class="playbtn" alt="Play button">
                    {% xd_img %}
                        <img class="thumb" src="https://i.ytimg.com/vi/{{vidsInSerie[0].data.videoId}}/mqdefault.jpg" alt="Thumbnail for video '{{ vidsInSerie[0].data.title }}'">
                    {% endxd_img %}
                </a>

                <small>{{vidsInSerie.size}} videos</small>
            </div>
            <div class="description">
                {{serie.description}}
            </div>
        </div>

        <div class="video-serieList">
            <ol class="no-margin">
                {% for vid in vidsInSerie %}
                    {% unless vid.data.hide %}
                        <li><a href="{{vid.url}}">{{vid.data.title}}</a></li>
                    {% endunless %}
                {% endfor %}
            </ol>
        </div>
    </div>

    <br>
    <hr>
{% endif %}