<div class="relative group hover:cursor-pointer youtube-embed {% if shortform %}md:max-w-md mx-auto {% endif %}" data-videoid="{{videoId}}">
  <div class="player absolute top-0 bottom-0 left-0 right-0"></div>

  {% comment %} Backdrop {% endcomment %}
  <div class="absolute inset-0 bg-savjeeblack opacity-40 group-hover:opacity-10 transition-opacity"></div>

  {% comment %} Play Button {% endcomment %}
  <div class="absolute inset-0 items-center justify-center flex">
    <div class="play-button w-20 h-14 group-hover:grayscale-[30%]"></div>
  </div>

  {% comment %} Thumbnail (with WebP support) {% endcomment %}
  {% xd_img %}
    <img
      loading="lazy"
      {% if shortform %}
        src="https://i.ytimg.com/vi/{{videoId}}/oar2.jpg"
        class="w-full aspect-[9/16]"
        height="320"
        width="180"
      {% else %}
        src="https://i.ytimg.com/vi/{{videoId}}/maxresdefault.jpg"
        class="w-full py-0 aspect-[16/9]"
        width="320"
        height="180"
      {% endif %}
      {%- if videoDescription -%}
        alt="Thumbnail for video '{{ videoDescription }}'"
      {%- endif -%}
    >
  {% endxd_img %}
</div>

<script defer src="{% assetUrl 'js/static-youtube-embed.js' %}"></script>
