<footer class="text-center text-sm text-gray-600 my-8">
    <p>Copyright 2011-2020, Xavier Decuyper</p>
    <p class="pt-1">
        <a href="/atom.xml" class="no-underline text-gray-600 hover:underline">RSS feed</a> - 
        <a href="https://github.com/Savjee" rel="noopener" target="_blank" class="no-underline text-gray-600 hover:underline">Github</a> - 
        <a href="https://twitter.com/Savjee/" rel="noopener" target="_blank" class="no-underline text-gray-600 hover:underline">Twitter</a> - 
        <a href="https://www.facebook.com/savjee" rel="noopener" target="_blank" class="no-underline text-gray-600 hover:underline">Facebook</a> - 
        <a href="https://www.youtube.com/channel/UCnxrdFPXJMeHru_b4Q_vTPQ" rel="noopener" target="_blank" class="no-underline text-gray-600 hover:underline">YouTube</a>
    </p>
</footer>