<nav class="w-full bg-gray-200 dark:bg-savjeeblack-800 dark:text-white">
    <!-- Flex: two column layout-->
  <div class="w-full md:max-w-3xl mx-auto md:flex md:flex-wrap py-4 text-center">

    <!-- Column 1: logo-->
      <div class="md:flex md:flex-column items-center">
        <img src="/assets/img/logo-rounded.svg" class="pr-2 block mx-auto">

        <a class="pt-4 md:pt-0 block text-gray-900 dark:text-white text-base md:text-left text-center no-underline cursor-pointer font-extrabold" href="/">
          <span class="font-light">Savjee</span><br/>
          Simply Explained
        </a>
      </div>

    <!-- Column 2: navigation-->
    <div class="mt-4 md:mt-0 md:flex-grow md:flex ">
      <ul class="list-reset md:flex justify-end flex-1 items-center text-center">
          <li class="mr-2 inline-block">
            <a href="/posts.html" class="inline-block text-gray-600 dark:text-white no-underline hover:text-gray-900 py-2 px-4 uppercase font-bold text-sm">
              <span>Posts</span>
            </a>
          </li>
          <li class="mr-2 inline-block">
            <a href="/videos/" class="inline-block text-gray-600 dark:text-white no-underline hover:text-gray-900 py-2 px-4 uppercase font-bold text-sm">
              <span>Videos</span>
            </a>
          </li>
          <li class="mr-2 inline-block">
            <a href="/courses/" class="inline-block text-gray-600 dark:text-white no-underline hover:text-gray-900 py-2 px-4 uppercase font-bold text-sm">
              <span>Courses</span>
            </a>
          </li>
          <li class="mr-2 inline-block">
            <a href="/about.html" class="inline-block text-gray-600 dark:text-white no-underline hover:text-gray-900 py-2 px-4 uppercase font-bold text-sm">
              <span>About</span>
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>