---
layout: page
title: Bookshelf
---

<div class="bookshelf">
    An overview of all the books that I own, along with a short review of each book.

    {% include goodreads-bookshelf.html %}

    <hr>

    {% for book in site.data.bookshelf %}
        <h1>{{book.title}} <br class="only-mobile"><span>by {{book.author}}</span></h1>
        <small class="no-padding">Rating: {{book.rating}}/5
            {% if book.links %}
            - <a href="{{book.links.Amazon}}">Amazon</a>
            {% endif %}
        </small>
        {% if book.opinion %}
            <p style="margin-top:0; padding-top: 0;">{{book.opinion}}</p>
        {% endif %}

        <hr>
    {% endfor %}

    <p>That's it for now! Will add more books in the future.</p>
</div>