---
layout: default
title: Home
fullwidth: "true"
quote: "Taking complicated topics and explaining them in a simple and straightforward way. That's what Simply Explained is all about. My blog posts are in-depth and technical while my videos are simple & in plain English."
---

<div class="row">
	<div class="col-md-5">
		<img src="/assets/img/me.jpg" class="fluid-image">
	</div>
	<div class="col-md-7 d-flex align-items-center">
		<div>
			<h1 style="margin:20px 0 0 0;">Hey there, I'm Xavier.</h1>
			<h3 style="margin-top:10px;margin-bottom: 35px;font-weight: 300;font-size: 1.3em;">I'm a full-stack developer & <a href="/videos">YouTuber</a>.</h3>
			<p style="font-weight:300;">I love taking complicated topics and explaining them in plain-English.</p>
		</div>
	</div>
</div>


<div style="margin-left: -100px; margin-right: -100px;">
	<hr>

	<div class="row">
		<div class="col-md-6">
			<h3 class="no-margin">Latest posts</h3>
			{% for post in paginator.posts limit: 3 %}
			<div style="margin: 20px 0;" class="hide-mobile">
				<a href="{{post.url}}">
					<div style="display:flex;overflow: hidden;min-height: 110px;max-height: 110px;padding-bottom: 0;transition: transform .2s ease-in-out;text-decoration: none;border: none;background-color: #f1f1f2;box-shadow: none;">
						{% if post.thumbnail %}
							<div style="position: relative;min-width: 180px;max-height: 100%;">
									<img src="{{post.upload_directory}}/thumb_timeline.jpg" loading="lazy" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-radius: 0;-o-object-fit: cover;object-fit: cover;max-width:100%;"/>
								<!-- <img src="https://i.ytimg.com/vi/{{vid.videoId}}/mqdefault.jpg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-radius: 0;-o-object-fit: cover;object-fit: cover;max-width:100%;"> -->
							</div>
						{% endif %}

						<div class="align-self-center" style="flex-direction: column;padding: 20px;flex-grow: 1;align-items: flex-start;justify-content: start;display:flex;">
							{{ post.title | truncate:100 }}
						</div>
					</div>
				</a>
			</div>
			{% endfor %}

		</div>

		<div class="col-md-6">
			<h3 class="no-margin">Latest videos</h3>

			{% assign latestVideos = site.videos | sort: 'uploadDate' | where_exp:"item", "item.not_featureable == nil" | where_exp:"item", "item.hide != true" | reverse %}		

			{% for vid in latestVideos limit: 3 %}
			<div style="margin: 20px 0;">
				<a href="{{vid.url}}">
					<div style="display:flex;overflow: hidden;min-height: 110px;max-height:110px;padding-bottom: 0;transition: transform .2s ease-in-out;text-decoration: none;border: none;background-color: #f1f1f2;box-shadow: none;">
						<div class="align-self-center" style="flex-direction: column;padding: 20px;flex-grow: 1;align-items: flex-start;justify-content: start;display:flex;">
							{{ vid.title | truncate:100 }}
						</div>
						<div style="position: relative;min-width: 180px;max-height: 100%;">
							<img src="https://i.ytimg.com/vi/{{vid.videoId}}/mqdefault.jpg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-radius: 0;-o-object-fit: cover;object-fit: cover;max-width:100%;">
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
	</div>
</div>
<hr>

	</div>
</div>


<!-- 
<hr>

	{% if paginator.previous_page %}
		<h1 class='content-subhead'>Page {{paginator.page}}</h1>
	{% endif %}

	{% for post in paginator.posts %}
	<article class='post'>
		<h1 class='post-title'>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h1>

		<div class='post-description'>
			{{ post.excerpt }}

			<p><a href='{{ post.url }}'>Continue reading &rarr;</a></p>
		</div>
	</article>

	<hr>

	{% endfor %}

{% if paginator.previous_page == nil %}
	<h1 class='post-title'>Older posts</h1>
	<div class='post-description'>
		<ul class='older-posts'>
			{% for post in site.posts limit:6 offset: 5 %}
				<li><a href='{{post.url}}'>{{post.title}}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<p class="text-center">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href='/'>&larr; Previous page</a>
		{% else %}
			<a href='/page{{paginator.previous_page}}/'>&larr; Previous page</a>
		{% endif %}
	{% endif %}

	{% if paginator.next_page and paginator.previous_page %}
		|
	{% endif %}

	{% if paginator.next_page %}
		<a href='/page{{paginator.next_page}}/'>Next page &rarr;</a>
	{% endif %}
</p> -->

<!-- *********** Structured data for Google *********** -->
<script type="application/ld+json">
[
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"name": "Savjee",
		"url": "https://www.savjee.be/"
	},
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"url": "https://www.savjee.be/",
		"logo": "https://www.savjee.be/assets/img/logo.svg",
		"sameAs": [
			"https://www.facebook.com/savjee",
			"https://www.youtube.com/savjee",
			"https://twitter.com/Savjee"
		]
	}
]
</script>