---
layout: default
title: Home
---

{% if paginator.previous_page %}
	<h1 class='content-subhead'>Page {{paginator.page}}</h1>
{% endif %}


{% for post in site.posts limit: 10 %}
	{% assign loopindex = forloop.index0 | modulo: 3 %}
	
	{% if loopindex == 0 || forloop.first %}

		<div class="pure-g">
		    <div class="pure-u-1 pure-u-md-1">
		    	<div style='padding: 10px;' data-sr="enter bottom, hustle 100px">

		    		<a href="{{ post.url }}">
				    	<h1 class='post-title'>
				    		{{post.title}}
				    	</h1>
				    	<img src='/uploads/{{post.upload_directory}}/poster-750.jpg' style='width: 100%;'>
				    </a>
			    	
			    	<div class='post-description'>
						{{ post.content | preview }}

						<p><a href='{{ post.url }}'>Continue reading &rarr;</a></p>
					</div>
			    </div>
		    </div>
		</div>
	{% else %}

		{% if loopindex == 1 %}
			<hr style='border: 1px solid #eee;'>
			<div class="pure-g">
		{% endif %}

			<div class="pure-u-1 pure-u-sm-1-2">
				<div style='padding: 10px;' data-sr="enter bottom, hustle 100px">

					<a href="{{ post.url }}">
						<h2 class='post-title'>{{post.title}}</h2>
			    		<img src='/uploads/{{post.upload_directory}}/poster-350.jpg' style='max-width:100%;'>
					</a>

					<div class='post-description'>
						<p><a href='{{ post.url }}'>Read full post &rarr;</a></p>
					</div>
				</div>

		    </div>

		{% if loopindex == 2 %}
			</div>
			<hr style='border: 1px solid #eee;'>
		{% endif %}
		
	{% endif %}


{% endfor %}

{% if paginator.previous_page == nil %}
	<h1 class='content-subhead'>Older posts</h1>
	<div class='post-description'>
		<ul class='older-posts'>
			{% for post in site.posts limit:6 offset: 6 %}
				<li><a href='{{post.url}}'>{{post.title}}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<p style='text-align:center; margin-top: 30px;'>
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href='/'>&larr; Previous page</a>
		{% else %}
			<a href='/page{{paginator.previous_page}}/'>&larr; Previous page</a>
		{% endif %}
	{% endif %}

	{% if paginator.next_page and paginator.previous_page %}
		|
	{% endif %}

	{% if paginator.next_page %}
		<a href='/page{{paginator.next_page}}/'>Next page &rarr;</a>
	{% endif %}
</p>