---
layout: page
title: Videos
paginate:
collection: videos
quote: Simply Explained videos are all about taking complicated topics and explaining them in a simple and straightforward way.
---

<p>Hi there! I'm starting my own YouTube channel with {{site.videos.size | divided_by: 5 | ceil | times: 5}}+ free, high-quality video tutorials. I would really appreciate your support, so subscribe now:</p>

<div class="youtube-subscribe-btn">
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UCnxrdFPXJMeHru_b4Q_vTPQ" data-layout="full" data-count="default"></div>
</div>

<hr>

{% assign series = site.data.videos.series %}

{% for serie in series %}

    {% assign vidsInSerie = site.videos | where_exp:'vid','vid.series == serie.title' | sort: 'order' %}

    <h1 class="no-margin">{{serie.title}}</h1>
        <div class="video-details">

            <div class="next-to-each-other">
                <div class="thumb-wrapper">
                    <a href="{{vidsInSerie[0].url}}">
                        <img src="/assets/img/play-button.svg" class="playbtn">
                        <img class="thumb" src="//i.ytimg.com/vi/{{vidsInSerie[0].videoId}}/mqdefault.jpg">
                    </a>

                    <small>{{vidsInSerie.size}} videos</small>
                </div>
                <div class="description">
                    {{serie.description}}
                </div>
            </div>


            <div class="video-serieList">
                <ol class="no-margin">
                    {% for vid in vidsInSerie %}
                        {% unless vid.hide %}
                            <li><a href="{{vid.url}}">{{vid.title}}</a></li>
                        {% endunless %}
                    {% endfor %}
                </ol>
            </div>
        </div>

        {% if serie.wip %}
            <p class="series-in-rollout">
                This series is being rolled out! New videos will be published regularly.
            </p>
        {% endif %}

        <br>
        <hr>
{% endfor %}