.home-box{
    img.me {
        max-height: 340px;
    }

    h1{
        margin:20px 0 0 0;
    }

    h3{
        margin-top:10px;
        margin-bottom: 35px;
        font-weight: 300;
        font-size: 1.3em;
    }

    p{
        font-weight:300;
    }
}