<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title | escape_once }} | Simply Explained</title>
    
    {% assign fallback_description = content %}
    {% assign description = quote | default: page.excerpt | default: fallback_description %}

    <link rel="alternate" type="application/rss+xml" title="Simply Explained Feed" href="{% baseUrl %}/atom.xml">
    <meta name="description" content="{{ description | md | strip_html | truncate:350 | strip_newlines }}">

    {% if tags %}
    <meta name="keywords" content="{{ tags | join: ", " }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/logo-rounded-180.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/logo-rounded-96.png">

    <link rel="preload" href="/assets/css/main.css" as="style" />
    <link rel="preload" href="/assets/main.js" as="script" />
    
    <link rel="stylesheet" href="/assets/css/main.css">

    <meta name="p:domain_verify" content="ee843ddad91f8b4384f2f3a13a714e2d">

    <meta name="twitter:site" content="@Savjee">
    <meta name="twitter:creator" content="@Savjee">
    <meta name="twitter:url" content="{% baseUrl %}{{page.url}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{ seo_description }}">

    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="Simply Explained">
    <meta property="og:url" content="{% baseUrl %}{{page.url}}">
    <meta property="og:description" content="{{ seo_description }}">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="805673586165209">

    {% comment %} Color of topbar on mobile {% endcomment %}
    <meta name="theme-color" content="#1E2546"/>


    <link rel="canonical" href="{% baseUrl %}{{ page.url | replace:"index.html",""}}">

    {% if thumbnail %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:src" content="{% baseUrl %}{{upload_directory}}/thumb_twitter.jpg">
        <meta property="og:image" content="{% baseUrl %}{{upload_directory}}/thumb_facebook.jpg">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}
</head>

<body class="border-t-4 md:border-t-2 border-savjeered dark:border-savjeered-darkmode dark:bg-savjeeblack">

    {{page.quote}}

<header class="py-6 border-b border-savjeelightgrey dark:border-savjeeblue">
    <div class="containerX flex flex-1 grow flex-col md:flex-row mx-auto md:max-w-5xl md:items-center">
        <!-- Container for the logo + Menu button for mobile -->
        <div class="flex flex-row w-full items-center -ml-3">
            <a href="/">
                <img alt="Savjee Logo" src="/assets/img/logo-rounded.svg" width="70" height="70">
            </a>
            <a href="/" title="Simply Explained" rel="home" class="text-savjeeblue dark:text-savjeewhite no-underline font-medium ml-2 flex-1 grow">
                Simply<br>Explained
            </a>
            <div class="md:hidden">
                <button class="secondary text-sm" id="toggle-navigation">Menu</button>
            </div>
        </div>
        <nav class="hidden md:block">
            <ul class="flex flex-col mt-6 gap-5 md:text-center md:my-0 md:flex-row md:gap-10 md:justify-end">
                <li>
                    <a href="/videos/" class="text-savjeered dark:text-savjeered-darkmode font-bold no-underline {% if page.url contains "/videos/" -%}active{%endif%}">
                        Videos
                    </a>
                </li>
                <li>
                    <a href="/newsletter/" class="text-savjeered dark:text-savjeered-darkmode font-bold no-underline {% if page.url contains "/newsletter/" -%}active{%endif%}">
                        Newsletter
                    </a>
                </li>
                <li>
                    <a href="/blog/" class="text-savjeered dark:text-savjeered-darkmode font-bold no-underline {% if page.url contains "/blog/" -%}active{%endif%}">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/courses/" class="text-savjeered dark:text-savjeered-darkmode font-bold no-underline {% if page.url contains "/courses/" -%}active{%endif%}">
                        Courses
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

{{ content }}

<footer class="mt-20 border-t border-savjeelightgrey dark:border-savjeeblue text-sm py-10">
    <div class="containerX text-center md:text-left">
        <div class="flex flex-col gap-8 items-center md:flex-row">
            <div class="mx-auto flex flex-row items-center">
                <a href="/">
                    <img alt="Simply Explained Logo" src="/assets/img/logo-rounded.svg" width="40" height="40">
                </a>
        
                <div class="text-sm text-left ml-2">
                    <a href="/" title="Simply Explained" rel="home" class="text-savjeeblue dark:text-savjeewhite text-left no-underline font-medium">
                        Simply<br>Explained
                    </a>
                </div>
            </div>
            <div class="flex-1 text-center">
                <p>
                    <a href="/videos" class="no-underline text-sm pr-8">Videos</a>
                    <a href="/newsletter" class="no-underline text-sm pr-8">Newsletter</a>
                    <a href="/blog" class="no-underline text-sm pr-8">Blog</a>
                    <a href="/courses" class="no-underline text-sm">Courses</a>
                </p>
            </div>
            <div>
                <p class="mb-2 uppercase font-semibold text-sm text-savjeeblue dark:text-savjeewhite">Follow me</p>
                <div class="flex gap-8 md:gap-4 items-center">
                    <a href="https://www.youtube.com/@simplyexplained" rel="noopener" target="_blank" title="Visit Simply Explained on YouTube" aria-label="Visit Simply Explained on YouTube">
                        {% render "icons/youtube.html" %}
                    </a>
                    <a href="https://twitter.com/Savjee/" rel="noopener" target="_blank" title="Visiit Simply Explained on Twitter" aria-label="Visit Simply Explained on Twitter">
                        {% render "icons/twitter.html" %}
                    </a>
                    <a rel="me" href="https://mastodon.world/@simplyexplained" target="_blank" title="Visit Simply Explained on Mastodon" aria-label="Visit Simply Explained on Mastodon">
                        {% render "icons/mastodon.html" %}
                    </a>
                    <a href="https://www.instagram.com/simplyexplained_com/" rel="noopener" target="_blank" title="Visit Simply Explained on Instagram" aria-label="Visit Simply Explained on Instagram">
                        {% render "icons/instagram.html" %}
                    </a>
                    <a href="https://www.tiktok.com/@simplyexplained_com" rel="noopener" target="_blank" title="Visit Simply Explained on TikTok" aria-label="Visit Simply Explained on TikTok">
                        {% render "icons/tiktok.html" %}
                    </a>
                    
                    {% comment %}
                    <a href="https://github.com/Savjee" rel="noopener" target="_blank" title="Visit Simply Explained on GitHub" aria-label="Visit Simply Explained on GitHub">
                        {% render "icons/github.html" %}
                    </a>
                    <a href="/atom.xml" rel="noopener" target="_blank" title="Open the Simply Explained RSS feed" aria-label="Open the Simply Explained RSS feed">
                        {% render "icons/rss.html" %}
                    </a>
                    {% endcomment %}
                </div>
            </div>
        </div>

        <div>
            <p class="pt-6 text-sm text-savjeelightgrey3">Copyright 2011-{{ "now" | date: "%Y" }}, Xavier Decuyper. All rights reserved.</p>
        </div>
    </div>
</footer>

<script defer src="/assets/main.js"></script>
</body>
</html>