<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% comment %} Subpages for video series can't set "title" directly {% endcomment%}
    {% if title == nil %}
        {% assign title = renderData.title %}
    {%endif%}

    <title>{{ title | escape_once }} | Simply Explained.be</title>

    {% assign seo_description_tmp = quote | default: page.excerpt %}
    {% assign seo_description_tmp2 = seo_description_tmp | md | strip_html %}
    {% assign seo_description_tmp3 = seo_description_tmp2 | truncate:350 %}
    {% assign seo_description_tmp4 = seo_description_tmp3 | strip_newlines %}
    {% assign seo_description = seo_description_tmp4 | escape %}

    <link rel="alternate" type="application/rss+xml" title="Simply Explained Feed" href="{% baseUrl %}/atom.xml">
    <meta name="description" content="{{ seo_description }}">

    {% if tags %}
    <meta name="keywords" content="{{ tags | join: ", " }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon">

    <!-- TODO: self host -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600;1;700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- TODO: Re-enable these -->
    <link rel="preload" href="/assets/css/bundle.min.css" as="stylesheet" />
    <!-- <link rel="preload" href="/assets/main.js" as="script" /> -->

    <link rel="stylesheet" href="/assets/css/bundle.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="p:domain_verify" content="ee843ddad91f8b4384f2f3a13a714e2d">

    <meta name="twitter:site" content="@Savjee">
    <meta name="twitter:creator" content="@Savjee">
    <meta name="twitter:url" content="{% baseUrl %}{{page.url}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{ seo_description }}">

    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="Simply Explained">
    <meta property="og:url" content="{% baseUrl %}{{page.url}}">
    <meta property="og:description" content="{{ seo_description }}">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="805673586165209">

    <link rel="canonical" href="{% baseUrl %}{{ page.url | replace:"index.html",""}}">

    {% if thumbnail %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:src" content="{% baseUrl %}{{upload_directory}}/thumb_twitter.jpg">
        <meta property="og:image" content="{% baseUrl %}{{upload_directory}}/thumb_facebook.jpg">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}
</head>

<body class="border-t-2 border-savjeered">

<header class="py-6 border-b border-savjeelightgrey">
    <!-- TODO: Fix the container width. Should match the design. -->
    <div class="mx-auto flex flex-row items-center max-w-5xl">
        <div class="mr-4">
            <a href="/">
                <img alt="Savjee Logo" src="/assets/img/logo2.svg" width="40" height="40">
            </a>
        </div>

        <div class="">
            <a href="/" title="Simply Explained" rel="home" class="text-savjeeblue no-underline font-medium">
                Simply<br>Explained
            </a>
        </div>

        <nav class="grow">
            <ul class="flex flex-row justify-end gap-10">
                <li>
                    <a href="/videos/" class="text-savjeered font-bold no-underline {% if page.url contains "/videos/" -%}active{%endif%}">
                        Videos
                    </a>
                </li>
                <li>
                    <a href="/newsletter/" class="text-savjeered font-bold no-underline {% if page.url contains "/newsletter/" -%}active{%endif%}">
                        Newsletter
                    </a>
                </li>
                <li>
                    <a href="/blog/" class="text-savjeered font-bold no-underline {% if page.url contains "/blog/" -%}active{%endif%}">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/courses/" class="text-savjeered font-bold no-underline {% if page.url contains "/courses/" -%}active{%endif%}">
                        Courses
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

{{ content }}

<footer class="mt-20 border-t border-savjeelightgrey text-sm py-10">
    <div class="mx-auto max-w-5xl">

        <div class="flex flex-row">
            <div class="">
                <div class="mx-auto flex flex-row items-center max-w-5xl">
                    <a href="/">
                        <img alt="Savjee Logo" src="/assets/img/logo-rounded.svg" width="40" height="40">
                    </a>
            
                    <div class="text-sm">
                        <a href="/" title="Simply Explained" rel="home" class="text-savjeeblue no-underline font-medium">
                            Simply<br>Explained
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex-1 text-center">
                <p>
                    <a href="/videos" class="no-underline text-sm pr-8">Videos</a>
                    <a href="/newsletter" class="no-underline text-sm pr-8">Newsletter</a>
                    <a href="/blog" class="no-underline text-sm pr-8">Blog</a>
                    <a href="/courses" class="no-underline text-sm">Courses</a>
                </p>
            </div>
            <div>
                <p class="uppercase font-semibold text-sm text-savjeeblue">Follow me</p>
                <div class="flex items-center">
                    <a href="https://www.youtube.com/channel/UCnxrdFPXJMeHru_b4Q_vTPQ" class="pr-4" rel="noopener" target="_blank">
                        {% include "icons/youtube.html" %}
                    </a>
                    <a href="https://twitter.com/Savjee/" class="pr-4" rel="noopener" target="_blank">
                        {% include "icons/twitter.html" %}
                    </a>
                    <a href="https://www.instagram.com/simplyexplained_com/" class="pr-4" rel="noopener" target="_blank">
                        {% include "icons/instagram.html" %}
                    </a>
                    <a href="https://www.tiktok.com/@simplyexplained_com?lang=en" class="pr-4" rel="noopener" target="_blank">
                        {% include "icons/tiktok.html" %}
                    </a>
                    <!-- <a href="https://github.com/Savjee" class="pr-4" rel="noopener" target="_blank">
                        {% include "icons/github.html" %}
                    </a> -->
                    <a href="/atom.xml" rel="noopener" target="_blank">
                        {% include "icons/rss.html" %}
                    </a>
                </div>
            </div>
        </div>

        <div class="pt-10">
            <hr>
            <p class="pt-5 text-sm text-savjeeblue">Copyright 2011-{{ "now" | date: "%Y" }}, Xavier Decuyper. All rights reserved.</p>
        </div>
    </div>

    <!-- <p>
        <a href="/about">About</a> - 
        <a href="/atom.xml">RSS</a> - 
        <a href="https://github.com/Savjee" rel="noopener" target="_blank">Github</a> -
        <a href="https://twitter.com/Savjee/" rel="noopener" target="_blank">Twitter</a> -
        <a href="https://www.youtube.com/channel/UCnxrdFPXJMeHru_b4Q_vTPQ" rel="noopener" target="_blank">YouTube</a>
    </p> -->
</footer>

<script defer src="/assets/main.js"></script>
</body>
</html>