---
layout: narrow 
---

<div class="px-4 md:px-0 prose dark:prose-dark max-w-none">
    <p>
        <a href="/newsletter/" class="no-underline">&larr; Back to newsletters</a>
    </p>
    
    <h1 class="mb-3">
        {{ title }}
    </h1>
    
    <div class="mb-10 text-sm text-savjeelightgrey3">
        Sent on
        <time class="date" datetime="{{ page.date | date: '%Y-%m-%dT00:00:00+01:00' }}">{{ page.date | date: "%B %d, %Y" }}</time>
    </div>
</div>

<article class="px-4 md:px-0 prose dark:prose-dark max-w-none relative">
    <div class="md:absolute md:-left-16">
        {% render "components/share-buttons-vertical.html", page: page, title: title %}
    </div>

    <div>
        {{ content }}
    </div>
</article>

<br>

{% render "components/newsletter-box.html" %}

{% comment %} *********** Structured data for Google *********** {% endcomment %}
<script type="application/ld+json">
[
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "{% baseUrl %}/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Newsletter",
                "item": "{% baseUrl %}/newsletter/"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{{ title }}",
                "item": "{% baseUrl %}{{ page.url }}"
            }
        ]
    }
]
</script>