---
layout: default
---

<article class='post'>
    <h1 class='post-title'>
        <a href="{{ url }}">{{ title }}</a>
    </h1>

    <div class='post-description'>
        {{ content }}
    </div>
</article>

<p class="text-center">
    <small>Posted on
        <time class='date' datetime='{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date: "%B %d, %Y" }}</time>
    </small>
</p>

{% include components/share-buttons.html %}

<!-- Related posts -->

{% include components/newsletter-box.html %}

<hr>

{% include components/disqus-comments.html %}

<hr>