---
layout: default
---

<article class='post'>
    <h1 class='post-title'>
        <a href="{{ url }}">{{ title }}</a>
    </h1>

    <div class='post-description'>
        {{ content }}
    </div>
</article>

<p class="text-center">
    <small>Posted on
        <time class='date' datetime='{{ date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date_to_string }}</time>
    </small>
</p>


<!-- 
<article class="post prose dark:prose-dark max-w-none">
	<header>
		<h1 itemprop="headline">{{ title }}</h1>
	</header>
	
	{{ content }}
</article> -->