---
layout: narrow 
---

<article class="containerX relative prose max-w-none">
    <h1>
        {{ title }}
    </h1>

    {% comment %}
    TODO: re-enable
    {% if toc_enabled == true %}
        <aside class="toc">
            <h1>Contents</h1>
            {{ content | toc }}
        </aside>
    {% endif %}
    {% endcomment %}

    <div class="md:absolute md:-left-16">
        {% render "components/share-buttons-vertical.html", page: page, title: title %}
    </div>

    {{ content }}
</article>

<p class="">
    Posted on
    <time class='date' datetime='{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date: "%B %d, %Y" }}</time>
</p>


{% assign related_posts = collections.all | getRelated: tags, page.inputPath %}
{% if related_posts.size > 0 %}
	<div class="my-16">
		<p class="text-2xl font-bold">You May Also Enjoy</p>
		
		<ul>
			{% for post in related_posts limit:4 %}
				<li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<div class="my-12">
    {% render "components/newsletter-box.html" %}
</div>

{% render "components/disqus-comments.html" %}

<script type="application/ld+json">
[
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ title }}",
        {% if thumbnail %}
        "image": [
            "{% baseUrl %}{{upload_directory}}/thumb_master.jpg"
        ],
        {% endif %}
        "datePublished": "{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}"
    },
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Blog",
                "item": "{% baseUrl %}/blog/"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{{ title }}"
            }
        ]
    }
]
</script>