---
layout: page
no_title: true
---

<div class="mt-12">
  {% include "youtube-embed.html", videoId:videoId %}
</div>

<article class="pt-12">
    <p>
        <a href="/videos" class="no-underline">&larr; Back to videos</a>
    </p>
    <h1 class="mt-5">
        {{ title | escape_once }}
    </h1>

    <div class="max-w-3xl">
        {{ content }}
    </div>
</article>

{% comment %} *********** Structured data for Google *********** {% endcomment %}
<script type="application/ld+json">
[
	{
        "@context": "http://schema.org/",
        "@type": "VideoObject",
        "name": "{{ title }}",
        "description": "{{ content | strip_html | truncatewords: 40 }}",
        "thumbnailURL": [
            "http://i.ytimg.com/vi/{{videoId}}/hqdefault.jpg"
        ],
        "uploadDate": "{% if date %}{{ date | date: "%Y-%m-%dT00:00:00+01:00" }}{% else %}2017-06-23{% endif %}",
        "embedUrl": "https://www.youtube.com/embed/{{videoId}}"
    },
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Videos",
        "item": "{% baseUrl %}/videos/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{series}}",
        "item": "{% baseUrl %}/videos/{{series | slug }}"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ title }}"
      }]
    }
]
</script>