<style type="text/css" media="screen">
    .gr_grid_container {
      /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
      /* customize book cover container div here */
      float: left;
      width: 39px;
      height: 60px;
      padding: 0px 0px;
      overflow: hidden;
    }

    .clear{
        clear:both;
    }
  </style>
  <div id="gr_grid_widget_1512986858">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="De big data-revolutie" rel="nofollow" href="https://www.goodreads.com/book/show/26159374-de-big-data-revolutie"><img alt="De big data-revolutie" border="0" src="https://images.gr-assets.com/books/1440448253s/26159374.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Het meisje in de trein" rel="nofollow" href="https://www.goodreads.com/book/show/25153867-het-meisje-in-de-trein"><img alt="Het meisje in de trein" border="0" src="https://images.gr-assets.com/books/1426512273s/25153867.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Phobos² (Phobos, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/25925785-phobos"><img alt="Phobos²" border="0" src="https://images.gr-assets.com/books/1447927067s/25925785.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Phobos (Phobos, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/25484579-phobos"><img alt="Phobos" border="0" src="https://images.gr-assets.com/books/1430831258s/25484579.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Metro 2033 (Metro #1)" rel="nofollow" href="https://www.goodreads.com/book/show/17274667-metro-2033"><img alt="Metro 2033" border="0" src="https://images.gr-assets.com/books/1379621430s/17274667.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Ready Player One" rel="nofollow" href="https://www.goodreads.com/book/show/9969571-ready-player-one"><img alt="Ready Player One" border="0" src="https://images.gr-assets.com/books/1500930947s/9969571.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Ikigai" rel="nofollow" href="https://www.goodreads.com/book/show/28787203-ikigai"><img alt="Ikigai" border="0" src="https://images.gr-assets.com/books/1456092979s/28787203.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Losing the Signal: The Untold Story Behind the Extraordinary Rise and Spectacular Fall of BlackBerry" rel="nofollow" href="https://www.goodreads.com/book/show/25602451-losing-the-signal"><img alt="Losing the Signal: The Untold Story Behind the Extraordinary Rise and Spectacular Fall of BlackBerry" border="0" src="https://images.gr-assets.com/books/1432614555s/25602451.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="SEAL Team Six" rel="nofollow" href="https://www.goodreads.com/book/show/16021730-seal-team-six"><img alt="SEAL Team Six" border="0" src="https://images.gr-assets.com/books/1365027822s/16021730.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Wat als?: serieuze wetenschappelijke antwoorden op absurde hypothetische vragen" rel="nofollow" href="https://www.goodreads.com/book/show/23494600-wat-als"><img alt="Wat als?: serieuze wetenschappelijke antwoorden op absurde hypothetische vragen" border="0" src="https://images.gr-assets.com/books/1415022385s/23494600.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Start with Why: How Great Leaders Inspire Everyone to Take Action" rel="nofollow" href="https://www.goodreads.com/book/show/7108725-start-with-why"><img alt="Start with Why: How Great Leaders Inspire Everyone to Take Action" border="0" src="https://images.gr-assets.com/books/1360936414s/7108725.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Je hebt wél iets te verbergen" rel="nofollow" href="https://www.goodreads.com/book/show/31699339-je-hebt-w-l-iets-te-verbergen"><img alt="Je hebt wél iets te verbergen" border="0" src="https://images.gr-assets.com/books/1474116760s/31699339.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Waarom cola duurder is dan melk" rel="nofollow" href="https://www.goodreads.com/book/show/30630563-waarom-cola-duurder-is-dan-melk"><img alt="Waarom cola duurder is dan melk" border="0" src="https://images.gr-assets.com/books/1466053381s/30630563.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Martian" rel="nofollow" href="https://www.goodreads.com/book/show/18007564-the-martian"><img alt="The Martian" border="0" src="https://images.gr-assets.com/books/1413706054s/18007564.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="De kleine Cialdini" rel="nofollow" href="https://www.goodreads.com/book/show/33293562-de-kleine-cialdini"><img alt="De kleine Cialdini" border="0" src="https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png" /></a></div>
<div class="gr_grid_book_container"><a title="Smart cities Hoe technologie onze steden leefbaar houdt en slimmer maakt" rel="nofollow" href="https://www.goodreads.com/book/show/29244333-smart-cities-hoe-technologie-onze-steden-leefbaar-houdt-en-slimmer-maakt"><img alt="Smart cities Hoe technologie onze steden leefbaar houdt en slimmer maakt" border="0" src="https://images.gr-assets.com/books/1456154087s/29244333.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Smart Cities - hoe technologie onze steden leefbaar houdt en slimmer maakt" rel="nofollow" href="https://www.goodreads.com/book/show/29368233-smart-cities---hoe-technologie-onze-steden-leefbaar-houdt-en-slimmer-maa"><img alt="Smart Cities - hoe technologie onze steden leefbaar houdt en slimmer maakt" border="0" src="https://images.gr-assets.com/books/1456777398s/29368233.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Vijftig tinten vrij (Vijftig tinten #3)" rel="nofollow" href="https://www.goodreads.com/book/show/15732367-vijftig-tinten-vrij"><img alt="Vijftig tinten vrij" border="0" src="https://images.gr-assets.com/books/1361787091s/15732367.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Vijftig tinten donkerder (Vijftig tinten #2)" rel="nofollow" href="https://www.goodreads.com/book/show/15714855-vijftig-tinten-donkerder"><img alt="Vijftig tinten donkerder" border="0" src="https://images.gr-assets.com/books/1361787030s/15714855.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Vijftig tinten grijs (Vijftig tinten #1)" rel="nofollow" href="https://www.goodreads.com/book/show/13690325-vijftig-tinten-grijs"><img alt="Vijftig tinten grijs" border="0" src="https://images.gr-assets.com/books/1361786988s/13690325.jpg" /></a></div>
</div>

  </div>
  <script src="https://www.goodreads.com/review/grid_widget/59572329.Xavier's%20bookshelf:%20read?cover_size=small&hide_link=true&hide_title=true&num_books=24&order=d&shelf=read&sort=date_read&widget_id=1512986858" type="text/javascript" charset="utf-8"></script>

  <div class="clear"></div>