<div class="bookmarkbox">
    <a href="{{url}}">
        <div class="bookmark-contents">
            {% unless imageLeft %}
                <div class="text-container align-self-center">
                    {{ title | truncate:100 }}
                </div>
            {% endunless %}
            
            {%- if imageUrl -%}
                <div class="image-container">
                    <img 
                        src="{{imageUrl}}" 
                        alt="Thumbnail for {{title | truncate: 70}}" 
                        loading="lazy"
                        {%- if imageWidth and imageHeight -%}
                            width="{{imageWidth}}"
                            height="{{imageHeight}}"
                        {%- endif -%}
                    />
                </div>
            {%- endif -%}

            {% if imageLeft %}
            <div class="align-self-center text-container">
                {{ title | truncate:100 }}
            </div>
            {% endif %}
        </div>
    </a>
</div>