{% assign latest_video = collections.videos | getFeatureable | first %}
{% assign latest_post = collections.posts | getFeatureable | first %}

<div class="flex flex-col md:flex-row gap-8 items-center">
    <div class="flex-none w-full md:max-w-lg">
        <a href="{{latest_video.url}}">
            {% include "components/youtube-thumbnail.html", video: latest_video %}
        </a>
    </div>
    <div>
        <h2 class="m-0 p-0 mb-5">
            <a href="{{ latest_video.url}}" class="no-underline text-savjeeblack text-3xl font-extrabold">{{ latest_video.data.title }}</a>
        </h2>
        <p>{{ latest_video.content | md | strip_html | truncate: 200 }}</p>

        <div class="flex items-center mt-5">
            <div>
                <a href="{{latest_video.url}}" class="no-underline hover:underline">Watch now</a>
            </div>
            <div class="pl-3 ml-3 border-l border-savjeelightgrey4">
                <a href="/videos" class="no-underline hover:underline">More videos</a>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-col md:flex-row gap-8 items-center mt-20">
    <div class="order-2 md:order-none">
        <h2 class="m-0 p-0 mb-5">
            <a href="{{latest_post.url}}" class="no-underline text-savjeeblack text-3xl font-extrabold">{{ latest_post.data.title }}</a>
        </h2>
        <p>{{ latest_post.content | md | strip_html | truncate: 200 }}</p>

        <div class="flex items-center mt-5">
            <div>
                <a href="{{latest_post.url}}" class="no-underline hover:underline">Read more</a>
            </div>
            <div class="pl-3 ml-3 border-l border-savjeelightgrey4">
                <a href="/blog" class="no-underline hover:underline">More posts</a>
            </div>
        </div>
    </div>
    <div class="order-1 md:order-none w-full flex-none md:max-w-lg">
        <a href="{{ latest_post.url }}">
            {% include "components/blogpost-thumbnail.html", post: latest_post, highquality: true %}
        </a>
    </div>
</div>