<div class="box text-center nwsltr-sub">
	<h2>💌 Subscribe to my newsletter</h2>
	<div>
		<form action="/newsletter/signup" method="post">
			<div>
				<input placeholder="Your email address" type="email" name="email" required>
				<button type="submit">Subscribe</button>
			</div>
		</form>
	</div>
	{%- unless noDescription -%}
	<small>
		Monthly newsletter with cool stuff I found on the internet<br/>(related to science, technology, biology, and other nerdy things)!<br/>
		<a href="/newsletter">Check out past editions.</a>
	</small>
	{%- endunless -%}
</div>
