<div class="box text-center newsletter-subscribe">
	<h2>💌 Subscribe to my newsletter</h2>
	<div>
		<form action="https://newsletter.savjee.be/add_subscriber" method="post" target="_blank">
			<div>
				<input placeholder="Your email address" type="email" name="member[email]">
				<button type="submit">Subscribe</button>
			</div>
		</form>
	</div>
	{%- unless noDescription -%}
	<small>
		Monthly overview of my work and  other cool things I found on the Internet.<br/>
		<a href="/newsletter">Check out past editions.</a>
	</small>
	{%- endunless -%}
</div>