<div class="flex flex-col md:flex-row items-center">
    {% if post.data.thumbnail %}
    <div class="max-w-320 w-full pb-6 md:pr-8 md:pb-0">
        <a href="{{ post.url }}" aria-label="Read post: {{ post.data.title }}">
            {% include "components/blogpost-thumbnail.html", post: post %}
        </a>
    </div>
    {% endif %}
    <div>
        <p class="text-xl">
            <a href="{{ post.url }}" class="no-underline">{{ post.data.title }}</a>
        </p>
        <p class="py-3">
            {{ post.content | md | strip_html | truncate: 200 }}
        </p>

        <div class="text-base text-savjeelightgrey3">
            {% include "components/tags.html" tags: post.data.tags %}
        </div>
    </div>
</div>