{% assign thumbnailUrl = course.url | append: "resources/thumb.jpg" %}

<div class="flex items-center">
    <div class="w-full max-w-320 pr-8">
        <a href="{{course.url}}">
            <img src="{{ thumbnailUrl }}" class="w-full py-0" loading="lazy" alt="Thumbnail for course '{{ course.data.courseName }}'">
        </a>
    </div>
    <div>
        <div class="text-xl">
            <a href="{{course.url}}" class="no-underline hover:underline">{{ course.data.courseName }}</a>
        </div>

        <div class="py-3">
            {{ course.content | md | strip_html | truncate: 200 }}
        </div>

        <div class="text-base text-savjeelightgrey3">
            {% include "components/video-duration-and-tags.html" video: course %}
        </div>
    </div>
</div>
