<div class="flex items-center">
    {% if post.data.thumbnail %}
    <div class="max-w-320 w-full pr-8">
        <a href="{{ post.url }}" aria-label="Read post: {{ post.data.title }}">
            {% include "components/blogpost-thumbnail.html", post: post %}
        </a>
    </div>
    {% endif %}
    <div>
        <p class="pb-0">
            <a href="{{ post.url }}" class="no-underline">{{ post.data.title }}</a>
        </p>
        <p class="text-sm p-0">
            {{ post.content | md | strip_html | truncate: 200 }}
        </p>

        <div class="text-sm text-savjeelightgrey3">
            {% include "components/tags.html" tags: post.data.tags %}
        </div>
    </div>
</div>