<div class="relative">
    <div class="absolute left-0 right-0 mx-auto text-center top-1/2 -translate-y-1/2">
        <img class="text-center inline-block" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjAuMTk3IiBoZWlnaHQ9IjYyIj48ZGVmcz48cGF0aCBpZD0iQSIgZD0iTTI5My44MDIgMTUwdjU0bDUyLjE5Ny0yNi43NjZ6Ii8+PGZpbHRlciB4PSItMTMuNCUiIHk9Ii05LjMlIiB3aWR0aD0iMTI2LjglIiBoZWlnaHQ9IjEyNS45JSIgaWQ9IkIiPjxmZU9mZnNldCBkeT0iMiIgaW49IlNvdXJjZUFscGhhIi8+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMiIvPjxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwICAgMCAwIDAgMCAwICAgMCAwIDAgMCAwICAwIDAgMCAwLjUgMCIvPjwvZmlsdGVyPjwvZGVmcz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjg5LjgwMiAtMTQ4KSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiMwMDAiIGZpbHRlcj0idXJsKCNCKSIgeGxpbms6aHJlZj0iI0EiLz48dXNlIGZpbGw9IiNmZmYiIHhsaW5rOmhyZWY9IiNBIi8+PC9nPjwvc3ZnPg==">
    </div>
    {% xd_img %}
        <img src="https://i.ytimg.com/vi/{{video.data.videoId}}/maxresdefault.jpg" class="w-full py-0" loading="lazy" width="320" height="180" alt="Thumbnail for video '{{ video.data.title }}'">
    {% endxd_img %}
</div>