<div class="videowrapper">
    {% comment %}
        The inline CSS has this hash:
            'sha256-/AU/Y099B+CElpdg0HRn0OONsjXVQfTO/c0pkHSsBMs='
        Remember to change it in the CSP when changing the style.
    {% endcomment %}

    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{include.videoId}}?showinfo=0"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{include.videoId}}?autoplay=1><img src='https://img.youtube.com/vi/{{include.videoId}}/maxresdefault.jpg'><span>&#x25B6;</span></a>"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>

