---
layout: default
---

<div class="md:max-w-3xl mx-auto">
    <article>
        <h1>
            <a href="{{ page.url }}">{{ title }}</a>
        </h1>

        <div>
            {{ content }}
        </div>
    </article>

    <p class="text-center">
        <small>Posted on
            <time class='date' datetime='{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date_to_string }}</time>
        </small>
    </p>

    {% comment %}
    {% include share-buttons.html %}

    {% if site.related_posts.size > 0 %}
        <div class="related-posts">
            <h2>You May Also Enjoy</h2>
            
            <ul>
                {% for post in site.related_posts limit:4 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% include disqus-comments.html %}
    {% endcomment %}
</div>

<!-- *********** Structured data for Google *********** -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ title | truncate: 110 }}",
    "author": {
        "name": "Xavier Decuyper"
    },
    
    {% if thumbnail %}
        "image": [
          "https://www.savjee.be{{upload_directory}}/thumb_master.jpg"
        ],
    {% endif %}

    "datePublished": "{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}",
    "dateModified": "2015-02-05T09:20:00+08:00"
}
</script>