---
layout: default
fullwidth: true
---


<article class='post'>

    {% comment %}
    {% assign serieData = site.data.videos.series[page.series] %}
    {% endcomment %}
    <div class="w-full bg-savjeeblack-800 py-10">
        <div class="md:max-w-5xl mx-auto">
            <div class="mx-auto">
                <div class="relative h-0 pb-fluid-video">
                    {% include youtube-embed.html, videoId:videoId %}
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div class="videoNavigation">
        <div class="container">
            {% assign videosInThisSerie = site.videos | where_exp:'vid','vid.series == page.series' | sort: 'order' %}
            {% assign tmp = page.order | minus: 2 %}
            
            <div class="previousVideo">
                {% if page.order != 1 %}
                    <div class="video-">
                        <a href="{{videosInThisSerie[tmp].url}}">
                            <p><strong>&larr; Previous video</strong><br>
                                <span class="hide-overflow-text">{{videosInThisSerie[tmp].title}}</span>
                            </p>
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="nextVideo">
                {% if page.order >= 1 and page.order < videosInThisSerie.size %}
                    {% unless videosInThisSerie[page.order].hide %}
                    <div class="video-">
                        <a href="{{videosInThisSerie[page.order].url}}">
                            <p>
                                <strong>Next video &rarr;</strong><br>
                                <span class="hide-overflow-text">{{videosInThisSerie[page.order].title}}</span>
                            </p>
                        </a>
                    </div>
                    {% endunless %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endcomment %}

    <div class="md:max-w-2xl mx-auto my-4 pb-4">
        <h1 class='post-title'>
            <a href="{{ page.url }}">{{ title }}</a>
        </h1>

        <div class="post-description">
            {{ content }}
        </div>
        
        {% comment %}
            {% include youtube-subscribebutton.html %}
        {% endcomment %}

        <hr>
        
        
        {% comment %}
            {% include disqus-comments.html %}
        {% endcomment %}

    </div>
</article>


<!-- *********** Structured data for Google *********** -->
<script type="application/ld+json">
[
	{
        "@context": "http://schema.org/",
        "@type": "VideoObject",
        "name": "{{ title }}",
        "description": "{{ content | strip_html | truncatewords: 40 }}",
        "thumbnailURL": "http://i.ytimg.com/vi/{{videoId}}/hqdefault.jpg",
        "UploadDate": "{% if uploadDate %}{{ uploadDate | date: "%Y-%m-%dT00:00:00+01:00" }}{% else %}2017-06-23{% endif %}",
        "embedUrl": "https://www.youtube.com/embed/{{videoId}}"
    }
]
</script>