.bibtex-sources{
    p{
        padding-left: 2.5em;
        text-indent: -2.5em;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 25px;
    }

    a{
        color: #000;
    }
}