.no-margin{
    margin:0 !important;
}

.text-center{
    text-align:center;
}

.display-flex{
	display: flex;
}

.flex-vcenter{
    display:flex;
    justify-content: center;
    flex-direction: column;
}