/* ----------------- Main site styles ----------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #2a2f35;
}

.container {
    max-width: 720px;
    // padding: 20px;
    margin: 0 auto;
    position: relative;

    &.video{
        max-width: 1080px;
    }

    &.single{
        padding-top: 0;
    }
}

pre, code {
    overflow-x: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

pre, p code, li code {
    background-color: #F8F8F8;
    border: solid 1px #D1D1D1;
}

figure {
    margin: 0;
}

pre {
    padding: 1em;
    font-size: 0.8em;
    line-height: 1.5;
}

p code, li code {
    font-size: 1em;
    padding: 2px 5px;
    margin: 0 2px;
}

article {
    margin: 0 0 35px;
    font-weight: 300;
    line-height: 2;

    img{
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img + em {
        font-size: 0.8em;
        text-align: center;
        display: block;
    }

    .post-title{
        line-height: 1.5;
        text-decoration: none;
        a{
            text-decoration: none !important;
        }
    }

    .post-description{
        h1{
            font-size: 1.5em; // make it look like an H2
            margin-bottom: -0.5em;
            margin-top: 3em;
        }

        h2 {
            font-size: 1.17em; // make it look like an H3
            margin-bottom: -0.5em;
            margin-top: 2em;
        }

        a {
            text-decoration: underline;
        }
    }

    h1 a {
        color: #404040;
        font-size: 1.4em;
        font-weight: 700;
    }
}

// At the end of each post, shows the date when it was posted
.post-date{
    text-align:center;
}

a {
    color: #007998;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    text-decoration: none;

    &:hover{
        color: rgba(0, 121, 152, 0.5);
    }
}

hr {
    border: none;
    border-top: solid 1px #ddd;
    margin-top: 20px;
    padding: 0 0 20px 0;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0;
    padding: 20px;

    p{
        display: inline;
    }
}

footer {
    margin: 30px 0;

    p{
        text-align: center;
        font-size: 0.7em;
        line-height: 10px;
    }

    p, a{
        color: #959595;
    }
}