.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
}
.videobackdrop{
    background-color: #423e45;
    padding: 30px 0px;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide-overflow-text{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.videoNavigation{
    background-color: #F0F0F0;
    font-size: 0.8em;
    padding: 20px 0;

    .container{
        display: flex;
        align-items:center;

        div{
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    p{
        margin:0;
    }

    strong{
        color: #000;
        text-decoration: none;
        display:inline-block;
    }

    div.nextVideo{
        text-align:right;
    }
}

// Container for a series on the "Video" page
.video-details{
    .next-to-each-other{
        display:flex;
        margin-bottom: 20px;
    }

    .thumb, .description{
        flex:1;
    }

    .thumb-wrapper{
        max-width: 220px;
        position: relative; // for the play button overlay
        margin-right: 20px;
        text-align:center;

        img.thumb{
            width: 200px;
            height: 113px;
        }

        img.playbtn{
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            width: 60px;
            height: 60px;
        }
    }
}

.series-in-rollout{
    display:block;
    font-size: 0.8em;
    background-color: #eee;
    background-image: url(/assets/img/in-progress.svg);
    background-position-y: center;
    background-position-x: 20px;
    background-repeat: no-repeat;
    line-height: 1.2em;
    padding: 20px 20px 20px 50px;
    margin-bottom: 0;
}

.video-serieList{
    column-count: 2;
    -moz-column-count: 2;
    font-size: 0.85em;
}

.youtube-subscribe-btn{
    width: 100%;
    height: 60px;
}

@media (max-width: 767px) {
    .video-serieList{
        column-count: 1;
        -moz-column-count: 1;
    }

    // Previous and Next video shouldn't be in 2 column layout anymore
    .videoNavigation{
        display: block;
    }

    .video-details{
        .thumb-wrapper{
            margin: 0 auto;
        }
        .next-to-each-other{
            display:block;
        }
    }
}