$bodyBackgroundDarkMode: #222;

$mainTextColor: #2a2f35;
$mainTextColorDarkMode: #fff;

$codeBoxBackground: #F8F8F8;

$linkColor: #007998;
$linkColorDarkMode: #1cd1ff;

$headerBackground: #f8f8f8;
$headerBackgroundDarkMode: #323232;