.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide-overflow-text{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.videoNavigation{
    display: flex;
    align-items:center;
    background-color: #F0F0F0;
    font-size: 0.8em;
    min-height: 100px;
    padding: 15px;

    p{
        margin:0;
    }

    strong{
        color: #000;
        text-decoration: none;
        display:inline-block;
    }

    div{
        flex:1;
    }

    div.nextVideo{
        text-align:right;
    }
}

// Container for a series on the "Video" page
.video-details{
    .next-to-each-other{
        display:flex;
    }

    .thumb, .description{
        flex:1;
    }

    .thumb{
        max-width: 220px;
        position: relative; // for the play button overlay

        img{
            max-width: 200px;
        }
    }
}

.video-serieList{
    column-count: 2;
    -moz-column-count: 2;
}

@media (max-width: 767px) {
    .video-serieList{
        column-count: 1;
        -moz-column-count: 1;
    }

    // Previous and Next video shouldn't be in 2 column layout anymore
    .videoNavigation{
        display: block;
    }

    .video-details{
        .thumb, .thumb img{
            max-width: initial;
        }
        .next-to-each-other{
            display:block;
        }
    }
}