header {
    background-color: #f8f8f8;

    .container{
        display:flex;
    }

    .logo{
        margin-right: 10px;
        width: 60px;
        height: 60px;

        img{
            height: 60px;
            width: 60px;
        }
    }

    .flex-vcenter{
        display:flex;
        justify-content: center;
        flex-direction: column;
    }

    .brand-name{
        font-size: 19px;
        font-weight: 100;

        a {
            color: #565656;
            text-decoration: none;
        }
    }

    nav{
        flex: 1; // Grow to fill out the space
        text-align: right;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: inline-block;
                margin: 2px 10px 0 0;

                a{
                    padding: 5px 10px;
                    text-transform: uppercase;
                    color: #423e45;
                    position: relative;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover{
                        color: #423e45;
                        &:after{
                            text-decoration: none;
                            width: 13px;
                        }
                    }

                    &:after{
                        transition: width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                        width: 0px;
                        height: 2px;
                        background-color: #423e45;
                    }
                }

                &:last-child{
                    margin-right: 0;
                    a{
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    header {
        .container{
            flex-wrap: wrap;
        }

        .flex-vcenter{
            flex-basis: 100%;
            text-align:center;
        }

        nav{
            text-align: center;
            margin-top: 15px;
        }
    }
}