/* ----------------- Main site styles ----------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

header {
    padding: 20px 0;
    margin: 0 auto;
    background-color: #f8f8f8;
}

header .avatar {
    float: right;
}

header .site-title a {
    color: #565656;
    text-decoration: none;
}

header .site-title span {
    font-weight: 200;
    color: #888888;
    text-transform: lowercase;
}

header .site-title {
    float: left;
    width: 80%;
    margin-top: 22px;
    font-size: 16px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 2px 10px 0 0;
}

header nav ul li a {
    color: #888888;
    font-size: 14px;
}

.clear {
    clear: both;
}

.container {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.container.single {
    padding-top: 0;
}

pre, code {
    overflow-x: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

pre, p code {
    background-color: #F8F8F8;
    border: solid 1px #D1D1D1;
}

pre {
    padding: 1em;
    font-size: 0.8em;
    line-height: 1.5;
}

p code {
    font-size: 1em;
    padding: 2px 5px;
    margin: 0 2px;
}

article img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #007998;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    text-decoration: none;
}

hr {
    border: none;
    border-top: solid 1px #ddd;
    padding: 20px 0;
}
img+em{
    font-size:0.8em;
    text-align: center;
    display: block;
}
a:hover {
    color: rgba(0, 121, 152, 0.5);
}

h1.post-title {
    font-family: 'Lato', sans-serif;
}

article {
    letter-spacing: .5px;
    margin: 0 0 35px;
    font-weight: 300;
    line-height: 34px;
}

article .post-description h1 {
    font-size: 1.5em; /* make it look like an H2 */
    margin-bottom: -0.5em;
    margin-top: 2em;
}

article .post-description h2 {
    font-size: 1.17em; /* make it look like an H3 */
    margin-bottom: -0.5em;
    margin-top: 2em;
}

article .post-description a{
    text-decoration:underline;
}

article h1 a {
    color: #404040;
    font-size: 1.4em;
    font-weight: 700;
}

footer{
    margin: 30px 0;
}

footer p{
    text-align:center;
    font-size: 0.7em;
    line-height: 10px;
}

footer p, footer a{
    color: #959595;
}

/* Responsive YouTube */
.youtube-container {
    display: block;
    margin: 20px 0;
    width: 100%;
}

.youtube-player {
    display: block;
    width: 100%; /* assuming that the video has a 16:9 ratio */
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    display: block;
}

img.youtube-thumb {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto
}

@-moz-document url-prefix() {
    img.youtube-thumb {
        top: -56px;
    }
}

div.play-button {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("/assets/img/play-button.png") no-repeat;
}

#youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video iframe, .video object, .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    body {
        /*font-size: 15px;*/
    }

    header {
        padding: 0;
        text-align: center;
    }

    header .avatar {
        float: none;
    }

    header .site-title {
        float: none;
        width: auto;
    }

    article {
        /*line-height: 30px;*/
    }
}