/* lato-700 - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/lato-v11-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/assets/fonts/lato-v11-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v11-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v11-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v11-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v11-latin_latin-ext-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* merriweather-300 - latin_latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/merriweather-v13-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Light'), local('Merriweather-Light'),
       url('/assets/fonts/merriweather-v13-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v13-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v13-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v13-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v13-latin_latin-ext-300.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-700 - latin_latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/merriweather-v13-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('/assets/fonts/merriweather-v13-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v13-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v13-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v13-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v13-latin_latin-ext-700.svg#Merriweather') format('svg'); /* Legacy iOS */
}