.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 95%;
    float: left;
    border: 1px solid #d4d4d4;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge > a {
    color: #C5C7C5 !important;
}

.timeline-badge a:hover {
    color: #000 !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    padding: 20px;
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timeline > li.timeline-inverted {
    float: right;
    clear: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container2 h1{
    margin:0 !important;
}

.timeline > li:nth-child(2) {
    margin-top: 60px;
}

@media (max-width: 767px) {
    ul.timeline:before,
    .timeline-panel:before,
    .timeline-panel:after,
    .timeline > li > .timeline-panel:before,
    .timeline > li > .timeline-panel:after
    {
        display: none;
    }

    ul.timeline > li, ul.timeline > li > .timeline-panel, .timeline > li.timeline-inverted{
        float:none;
        clear: none;
    }

    ul.timeline > li > .timeline-panel{
        width: 100%
    }

    ul.timeline > li {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
    }

    ul.timeline > li.clearfix{
        margin:0;
    }
}