body{
	background-color: #E2E2E2;
	color: #373737;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.625;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6, p{
	clear:both;
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	margin:0;
	padding: 0;
}

img{
	max-width: 620px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	border: solid 1px #ccc;
}
p{
	margin-bottom: 1em;
}

p code{
	background-color: #F4F4F4;
	border: solid 1px #DCDCDC;
	border-radius: 3px;
}

a{
	text-decoration: none;
	color: #1982D1;
	-webkit-transition-property: color;
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: color;
	-moz-transition-duration: 400ms;
	-moz-transition-timing-function: linear;
	transition-property: color;
	transition-duration: 400ms;
	transition-timing-function: linear;
}

a:hover{
	color: #1982D1 !important;
}

pre{
	background: #F4F4F4;
	font: 13px Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 1.625em;
	border:solid 1px #DCDCDC;
	border-radius: 3px;
}

#page{
	max-width: 800px;
	margin: 30px auto;
}

#branding{
	text-align:center;
	padding-top: 30px;
}

#site-title a{
	font-size: 55px;
	line-height: 1em;
	color: #b4b4b4;
	font-weight: bold;
	margin-right: -4px;
	text-align: right;
}

.post{
	background: #fff;
	-webkit-box-shadow: 0 0 10px #b4b4b4;
	-moz-box-shadow: 0 0 10px #b4b4b4;
	box-shadow: 0 0 10px #b4b4b4;
	border-radius: 3px;
	margin: 30px 0 30px 0;
}

@media screen and (min-width:800px){

	.left, .right{
		width: 385px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.left{
		float:left;
	}

	.left .post-header, .left .post-content, .right .post-header, .right .post-content {
		padding-left: 30px;
		padding-right: 30px;
	}

	.right{
		float:right;
	}
}

.post-header, .post-header a{
	color: #222;
	text-decoration: none;
}

.post-title{
	clear: both;
	color: #222;
	font-size: 26px;
	line-height: 1.5em;
	padding-top: 0px;
}

.post-header{
	padding: 1.625em 60px 0;
}

.post-meta{
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}

.post-content{
	padding: 0.6em 60px 0;
	border-style: solid;
	border-color: #EEE;
	border-width: 0 0 1px;
}

.post-content h1{
	color: #000;
	font-weight: bold;
	margin: 2em 0 .5em 0;
	font-size: 1.2em;
}

.post-content a:hover{
	text-decoration:underline;
}

.share{
	padding: .6em 60px;
	color: #666;
}

.share a{
	color: #666;
}

.share a:hover{
	text-decoration: underline;
}

/* Style for the comment box beneath a post */
#comments{
	background: #DDD;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
}

#site-menu{
	font-size: 13px;
	list-style: none;
	margin:0;
	padding:0;
}

#site-menu a:hover{
	color: #666 !important;
	text-decoration:underline;
}

#site-menu li{
	display:inline;
}

#site-menu li:before{
	content: " - ";
}

#site-menu li:first-child:before{
	content:none;
}

#site-menu a{
	color: #AAA;
	line-height: 2.6em;
}

#site-menu a:hover{
	color: #373737;
}

.previous{
	margin-right: 10px;
}

#footer{
	clear:both;
	color: #666;
	font-size: 12px;
	padding: 30px 0 30px 0;
	text-align: center;
}

/* Hide Github Gist line-numbers. They clash with the design */
.line_numbers{
	display:none !important;
}

/* ----------------- Attempt to make things fluid ----------------- */

/* Smartphone in portrait */
@media screen and (max-width:640px){

	.post-content{
		padding: 0.6em 2em 0;
	}

	.post-header{
		padding: 1.625em 2em 0;
	}

	.share{
		padding: 0.6em 2em;
	}

	img{
		max-width: 250px;
	}

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
	body{
		font-size: 16px;
	}

	pre{
		font-size: 14px;
	}
}

/* ----------------- Code highlighter style ----------------- */
.hll{background-color:#ffc}
.c{color:#408080;font-style:italic}
.err{border:1px solid #f00}
.k{color:#008000;font-weight:bold}
.o{color:#666}
.cm{color:#408080;font-style:italic}
.cp{color:#bc7a00}
.c1{color:#408080;font-style:italic}
.cs{color:#408080;font-style:italic}
.gd{color:#a00000}
.ge{font-style:italic}
.gr{color:#f00}
.gh{color:#000080;font-weight:bold}
.gi{color:#00a000}
.go{color:#808080}
.gp{color:#000080;font-weight:bold}
.gs{font-weight:bold}
.gu{color:#800080;font-weight:bold}
.gt{color:#0040d0}
.kc{color:#008000;font-weight:bold}
.kd{color:#008000;font-weight:bold}
.kn{color:#008000;font-weight:bold}
.kp{color:#008000}
.kr{color:#008000;font-weight:bold}
.kt{color:#b00040}
.m{color:#666}
.s{color:#ba2121}
.na{color:#7d9029}
.nb{color:#008000}
.nc{color:#00f;font-weight:bold}
.no{color:#800}
.nd{color:#a2f}
.ni{color:#999;font-weight:bold}
.ne{color:#d2413a;font-weight:bold}
.nf{color:#00f}
.nl{color:#a0a000}
.nn{color:#00f;font-weight:bold}
.nt{color:#008000;font-weight:bold}
.nv{color:#19177c}
.ow{color:#a2f;font-weight:bold}
.w{color:#bbb}
.mf{color:#666}
.mh{color:#666}
.mi{color:#666}
.mo{color:#666}
.sb{color:#ba2121}
.sc{color:#ba2121}
.sd{color:#ba2121;font-style:italic}
.s2{color:#ba2121}
.se{color:#b62;font-weight:bold}
.sh{color:#ba2121}
.si{color:#b68;font-weight:bold}
.sx{color:#008000}
.sr{color:#b68}
.s1{color:#ba2121}
.ss{color:#19177c}
.bp{color:#008000}
.vc{color:#19177c}
.vg{color:#19177c}
.vi{color:#19177c}
.il{color:#666}