<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>{{page.title}} | Savjee.be</title>

    <meta http-equiv="Content-Security-Policy" content="font-src 'self';frame-src disqus.com c.disquscdn.com https://*.disquscdn.com www.google.com www.youtube.com accounts.google.com;img-src 'self' c.disquscdn.com referrer.disqus.com https://*.disquscdn.com www.google-analytics.com www.gstatic.com ssl.gstatic.com i.ytimg.com i.imgur.com data:;script-src 'self' c.disquscdn.com disqus.com savjee.disqus.com https://*.disquscdn.com www.google.com www.google-analytics.com www.gstatic.com apis.google.com;style-src 'self' c.disquscdn.com https://*.disquscdn.com;object-src 'none'; base-uri 'self';">

    {% assign seo_description_tmp = page.quote | default: page.excerpt %}
    {% assign seo_description_tmp2 = seo_description_tmp | strip_html %}
    {% assign seo_description_tmp3 = seo_description_tmp2 | truncate:350 %}
    {% assign seo_description = seo_description_tmp3 | escape %}

    <link rel='alternate' type='application/rss+xml' title='savjee.be Feed' href='https://www.savjee.be/atom.xml'>
    <meta name='description' content='{{ seo_description }}'/>
    <meta name='keywords' content='{{ page.keywords }}'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='shortcut icon' href='/assets/favicon/favicon.ico' type='image/x-icon'>
    <link rel='icon' href='/assets/favicon/favicon.ico' type='image/x-icon'>

    {% asset bundle.css !type %}

    <meta name="p:domain_verify" content="ee843ddad91f8b4384f2f3a13a714e2d"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Savjee">
    <meta name="twitter:creator" content="@Savjee">
    <meta name="twitter:url" content="https://www.savjee.be{{page.url}}">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{ seo_description }}">

    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:site_name" content="Savjee.be"/>
    <meta property="og:url" content="https://www.savjee.be{{page.url}}"/>
    <meta property="og:description" content="{{ seo_description }}"/>
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="805673586165209"/>

    {% if page.thumbnail %}
        <meta name="twitter:image:src" content="https://www.savjee.be{{page.upload_directory}}/thumb_twitter.jpg">
        <meta property="og:image" content="https://www.savjee.be{{page.upload_directory}}/thumb_facebook.jpg"/>
    {% endif %}
</head>

<body>

<header class="site-header" role="banner">
    <div class="container">
        <div class="logo flex-vcenter">
            <a href='/'>
                <img alt="Savjee Logo" src="/assets/img/logo-rounded.svg">
            </a>
        </div>

        <div class="brand-name flex-vcenter">
            <a href="/" title="Savjee.be" rel="home">Savjee <br>Simply Explained</a>
        </div>

        <nav role="navigation" class="flex-vcenter">
            <div class="menu-main-nav-container">
                <ul id="menu-main-nav" class="menu">
                    <li><a href="/posts.html">Blog</a></li>
                    <li><a href="/videos/">Videos</a></li>
                    <li><a href="/courses/">Courses</a></li>
                    <li><a href="/about.html">About Me</a></li>
                </ul>
            </div>
        </nav>
    </div><!--/container -->
</header>

{% unless layout.fullwidth %}
<div class='container'>
{% endunless %}

    {{ content | extlinks }}

{% unless layout.fullwidth %}
</div>
{% endunless %}

<footer>
    <p>Copyright 2011-{{ "now" | date: "%Y" }}, Xavier Decuyper</p>

    <p>
        <a href="/atom.xml">RSS feed</a> - 
        <a href="https://github.com/Savjee" rel='noopener' target='_blank'>Github</a> - 
        <a href="https://twitter.com/Savjee/" rel='noopener' target='_blank'>Twitter</a> - 
        <a href="https://www.facebook.com/savjee" rel='noopener' target="_blank">Facebook</a> - 
        <a href="https://www.youtube.com/channel/UCnxrdFPXJMeHru_b4Q_vTPQ" rel='noopener' target='_blank'>YouTube</a>
    </p>
</footer>

{% asset all.js %}

</body>
</html>