<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>{{page.title}} | Savjee.be</title>
	<link rel='stylesheet' type='text/css' href='/assets/style.css'>
	<link rel='alternate' type='application/rss+xml' title='savjee.be Feed' href='http://www.savjee.be/atom.xml'>
	<meta name='description' content='{{ page.quote }}'/>
	<meta name='keywords' content='{{ page.keywords }}'/>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
	<link rel='shortcut icon' href='/assets/favicon.ico' type='image/x-icon'>
	<link rel='icon' href='/assets/favicon.ico' type='image/x-icon'>
</head>
<body>

<div class='pure-g-r' id='layout'>
	<div class='sidebar pure-u'>
		<header class='header'>
			<hgroup>
				<h1 class='brand-title'><a href='/index.html'>Savjee.be</a></h1>
			</hgroup>

			<nav class='nav'>
				<ul class='nav-list'>
					<li class='nav-item'>
						<a href='/anagramsolver.html'>Anagram Solver</a>
					</li>
					<li class='nav-item'>
						<a href='/tshark.html'>Tshark</a>
					</li>
					<li class='nav-item'>
						<a href='/about.html'>About Me</a>
					</li>
				</ul>
			</nav>
		</header>
	</div>

	<div class='pure-u-1'>
		<div class='content'>
			{{ content }}
		</div>

		<footer class='footer'>
			<span>Copyright 2014, Xavier Decuyper</span>

			<div class='pure-menu pure-menu-horizontal pure-menu-open'>
				<ul>
					<li><a href='http://www.savjee.be/atom.xml'>RSS feed</a></li>
					<li><a href='https://plus.google.com/+XavierDecuyper?rel=author'>Google+</a></li>
					<li><a href='https://twitter.com/Xafke/'>Twitter</a></li>
					<li><a href='https://github.com/Savjee'>GitHub</a></li>
				</ul>
			</div>
		</footer>

	</div>
</div>

<script type='text/javascript'>
// Google Analytics
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-21432611-1']);
_gaq.push(['_setDomainName', 'savjee.be']);
_gaq.push(['_trackPageview']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

// Track external links
function trackOutboundLink(link) {
	try{
		_gaq.push(['_trackEvent', 'outbound-link', link]);
	}catch(e){}
}

(window.onload = function(){
	var links = document.links;

	for(i=0; i<=links.length -1; i++){
		if(links[i].hostname != window.location.hostname){
			links[i].target = '_blank'; // open external links in new tab
			links[i].onclick = function(){ // track event
				trackOutboundLink(this.href);
			}
		}
	}
})();
</script>
</body>
</html>