---
layout: default
---


<article class='post'>
    <h1 class='post-title'>
        <a href="{{ post.url }}">{{ page.title }}</a>
    </h1>

    <div class='post-description'>
        {{ content }}
    </div>
</article>

<p style="text-align:center;">
    <small>Posted on
        <time class='date' datetime='{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date_to_string }}</time>
    </small>
</p>

<div class='share-button-container'>

    <div class="socialbutton-wrapper">
        <a href="https://twitter.com/share?url={{'https://www.savjee.be' | URLEncoding}}{{page.url | cgi_escape}}&text={{page.title | URLEncoding}}&via=Xafke" target="_blank">
            <div class="socialbutton twitter" data-share-url="{{'https://www.savjee.be' | URLEncoding}}{{page.url | URLEncoding}}">
                <p class="icon">
                    <img src="/assets/img/social-twitter.svg">
                </p>
            </div>
        </a>


        <a href="https://www.facebook.com/sharer/sharer.php?u={{'https://www.savjee.be' | URLEncoding}}{{page.url | cgi_escape}}" target="_blank">
            <div class="socialbutton facebook" data-share-url="{{'https://www.savjee.be' | URLEncoding}}{{page.url | URLEncoding}}">
                <p class="icon">
                    <img src="/assets/img/social-facebook.svg">
                </p>
            </div>
        </a>


        <a href="http://www.reddit.com/submit?url={{'https://www.savjee.be' | URLEncoding}}{{page.url | cgi_escape}}&title={{page.title | cgi_escape}}" target="_blank">
            <div class="socialbutton reddit">
                <p class="icon">
                    <img src="/assets/img/social-reddit.svg">
                </p>
            </div>
        </a>

        <br class="only-smartphone">

        <a href="https://getpocket.com/edit?url={{'https://www.savjee.be' | URLEncoding}}{{page.url | cgi_escape}}">
            <div class="socialbutton pocket">
                <p class="icon">
                    <img src="/assets/img/social-pocket.svg">
                </p>
            </div>
        </a>

        <a href="whatsapp://send?text={{page.title | cgi_escape}}{{' https://www.savjee.be' | URLEncoding}}{{page.url | cgi_escape}}" class="only-smartphone">
            <div class="socialbutton whatsapp">
                <p class="icon">
                    <img src="/assets/img/social-whatsapp.svg">
                </p>
            </div>
        </a>
    </div>

    <!-- MailMunch for Savjee.be -->
    <!-- Paste this code right before the </head> tag on every page of your site. -->
    <script src="//a.mailmunch.co/app/v1/site.js" id="mailmunch-script" data-mailmunch-site-id="243005" async="async"></script>
    <div class='mailmunch-forms-widget-317164'></div>
    <br>
</div>

<div id='comments'>
    <div id='disqus_thread'></div>
    <script type='text/javascript'>
        var disqus_shortname = 'savjee';
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

    <noscript>Please enable JavaScript to view the comments</noscript>
</div>