---
layout: default
---

<section class='post'>
	<header class='post-header'>
		<h2 class='post-title'> {{ page.title }} </h2>
		<p class='post-meta'>
			Posted on <time class='date' datetime='{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date_to_string }}</time>
		</p>
	</header>

	<div class='post-description'>
		{{ content }}
	</div>

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Responsive ad end of post -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-8749839191803105"
	     data-ad-slot="4260963056"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	
	<div class='share-button-container'>
		<div class='share-button share-button-twitter' data-share-url="{{'http://www.savjee.be' | URLEncoding}}{{page.url | URLEncoding}}">
			<div clas='box'>
				<a href="http://twitter.com/share?url={{'http://www.savjee.be' | URLEncoding}}{{page.url | cgi_escape}}&text={{page.title | URLEncoding}}&via=Xafke" target='_blank'>
					<span class='share'>Tweet</span>
					<span class='count'>0</span>
				</a>
			</div>
		</div>

		<div style="" class="share-button share-button-facebook" data-share-url="{{'http://www.savjee.be' | URLEncoding}}{{page.url | URLEncoding}}">
			<div class="box">
				<a href='#'>
					<span class='share'>Share</span>
					<span class='count'>0</span>
				</a>
			</div>
		</div>
	</div>
</section>

<div id='comments'>
	<div id='disqus_thread'></div>
	<script type='text/javascript'>
		var disqus_shortname = 'savjee';
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>

	<noscript>Please enable JavaScript to view the comments</noscript>
</div>

{% bundle %} [/assets/js/StaticShareButtons.js] {% endbundle %}