---
layout: default
---


<article class='post'>
    <h1 class='post-title'>
        <a href="{{ post.url }}">{{ page.title }}</a>
    </h1>

    <div class='post-description'>
        {{ content }}
    </div>
</article>

<p style="text-align:center;">
    <small>Posted on
        <time class='date' datetime='{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date_to_string }}</time>
    </small>
</p>

{% include share-buttons.html %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8749839191803105"
     data-ad-slot="9008064748"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{% include disqus-comments.html %}