---
layout: default
fullwidth: "true"
---


<article class='post'>
    {% assign serieData = site.data.videos.series[page.series] %}

    <div class="videobackdrop">
        <div class="container video" style="padding: 0;">
            <div class="videowrapper">
                <iframe src="https://www.youtube.com/embed/{{page.videoId}}?list={{serieData.playlistId}}&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    

    <div class="videoNavigation">
        <div class="container">
            {% assign videosInThisSerie = site.videos | where_exp:'vid','vid.series == page.series' | sort: 'order' %}
            {% assign tmp = page.order | minus: 2 %}
            
            <div class="previousVideo">
                {% if page.order != 1 %}
                    <div class="video-">
                        <a href="{{videosInThisSerie[tmp].url}}">
                            <p><strong>&larr; Previous video</strong><br>
                                <span class="hide-overflow-text">{{videosInThisSerie[tmp].title}}</span>
                            </p>
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="nextVideo">
                {% if page.order >= 1 and page.order < videosInThisSerie.size %}
                    {% unless videosInThisSerie[page.order].hide %}
                    <div class="video-">
                        <a href="{{videosInThisSerie[page.order].url}}">
                            <p>
                                <strong>Next video &rarr;</strong><br>
                                <span class="hide-overflow-text">{{videosInThisSerie[page.order].title}}</span>
                            </p>
                        </a>
                    </div>
                    {% endunless %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class='post-title'>
            <a href="{{ post.url }}">{{ page.title }}</a>
        </h1>
        {{ content }}

        {% include youtube-subscribebutton.html %}

        {% include disqus-comments.html %}
    </div>
</article>


<!-- *********** Structured data for Google *********** -->
<script type="application/ld+json">
[
	{
        "@context": "http://schema.org/",
        "@type": "VideoObject",
        "name": "{{ page.title }}",
        "description": "{{ content | strip_html | truncatewords: 40 }}",
        "thumbnailURL": "http://i.ytimg.com/vi/{{page.videoId}}/hqdefault.jpg",
        "UploadDate": "{% if page.uploadDate %}{{page.uploadDate}}{% else %}2017-06-23{% endif %}",
        "embedUrl": "https://www.youtube.com/embed/{{page.videoId}}"
    }
]
</script>