---
layout: default
title: "Home"
wider: true
---


<div class="md:max-w-3xl mx-auto flex items-center my-4 pb-4 border-b">
    <div class="mr-8">
        <img src="/assets/img/me.png" 
                alt="Picture of me, thinking face" 
                style="max-height: 340px;">
    </div>

    <div>
        <h1>Hey there, I'm Xavier.</h1>
        <h2 class="font-medium text-2xl text-gray-700">
            I'm a full-stack developer & <a href="/">YouTuber</a>.
        </h2>

        <p class="mt-8">
            I love taking complicated topics and explaining them in plain-English.
        </p>
    </div>
</div>


<div class="grid grid-cols-2 gap-4">
    <div>
		<h3>Latest posts</h3>

        {% for post in collections.posts reversed limit:3 %}
                {% if forloop.index > 2 %}<div class="hide-mobile ">{% endif %}
                    {% assign postThumb = post.data.upload_directory | append: "/thumb_timeline.jpg" %}
                    {% include 
                            components/bookmark-box.html, 
                            url: post.url,
                            title: post.data.title,
                            imageUrl: postThumb,
                            imageLeft: true,
                    %}
                {% if forloop.index > 2 %}</div>{% endif %}
            {% endfor %}

        <p>
            <a href="/posts.html" class="no-underline">📝 More posts</a>
        </p>
    </div>

    <div>
        <h3>Latest videos</h3>

        {% for post in collections.posts reversed limit:3 %}
            {% if forloop.index > 2 %}<div class="hide-mobile ">{% endif %}
                {% assign postThumb = post.data.upload_directory | append: "/thumb_timeline.jpg" %}
                {% include 
                        components/bookmark-box.html, 
                        url: post.url,
                        title: post.data.title,
                        imageUrl: postThumb,
                        imageLeft: false,
                %}
            {% if forloop.index > 2 %}</div>{% endif %}
        {% endfor %}

        <p class="md:text-right">
            <a href="/videos/" class="no-underline">More videos 📹</a>
        </p>
    </div>
</div>
