---
layout: page
pagination:
    data: video_series
    size: 1
    alias: serie
permalink: "videos/{{ serie.title | slug }}/"
---

<p>
    <a href="/videos/">Videos</a> / {{ serie.title }}
</p>

{% include video-series-overview.html, serieTitle:serie.title %}