---
layout: narrow 
title: Blog
quote: Overview of blog posts
---

<h1 class="bigtitle mb-12">
    <a href="/blog/">Blog</a>
</h1>


<div>
    {% assign maxPosts = 15 %}

    {% for post in collections.posts %}
        <div class="mb-8 pb-8 border-b border-savjeelightgrey {% if forloop.index > maxPosts %}hidden more-item{% endif %}">
            {% include "components/preview-blogpost.html" post: post %}
        </div>
    {% endfor %}

    <div class="text-center py-8">
        <button class="secondary load-more-button">Load more</button>
    </div>

</div>
