---
layout: page
title: "Newsletter"
quote: "Get your a monthly dose of science and technology news. Signup for the Simply Explained newsletter if you want your curiosity tickled every month."
---

<div>
    <div class="md:grid md:grid-cols-2 md:gap-8 items-center">
        <p>Get your a monthly dose of science and technology news.
            <br>Check out the past issues here, 
            and signup if you want your curiosity tickled every month 😉</p>
        
        <div class="mt-4 md:mt-0">
            {% render "components/newsletter-box.html", noDescription: true %}
        </div>
    </div>


    {% assign newslettersByYear = collections.newsletter | groupByYear %}
    {% for yearObj in newslettersByYear reversed %}
        <h3 class="text-2xl font-bold pb-4 pt-16">{{ yearObj.year }}</h3>

        {% for newsletter in yearObj.posts reversed %}
            <div class="py-3 leading-tight border-b border-b-savjeelightgrey4 last:border-none">
                <a href="{{newsletter.url}}" class="no-underline hover:underline">{{newsletter.data.title}}</a><br>
                <span class="text-savjeelightgrey3 text-sm">Sent on {{newsletter.date | date: "%B %e, %Y" }}</span>
            </div>
        {% endfor %}
    {% endfor %}
</div>