---
layout: page
eleventyComputed:
  title: Tagged "{{ tag }}"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag | slugify }}/
---

{% assign taglist = collections[tag] | sort: "date" | reverse %}

{% for post in taglist | reverse %}
  <div>
    {% if post.url | startsWith: "/blog" %}
      {% include "components/preview-blogpost.html" post: post %}
    {% endif %}

    {% if post.url | startsWith: "/videos/" %}
      {% include "components/preview-video.html" video: post %}
    {% endif %}
  </div>
{% endfor %}