---
layout: default
title: Videos
quote: Simply Explained is taking complicated topics and explaining them in a simple and straightforward way.
pagination:
  data: collections.videos
  size: 15
  alias: videos
---

{% assign featuredVideos = collections.videos | getFeatureable | slice: 0,6 %}

{% if pagination.pageNumber == 0 %}
<div class="bg-savjeelightgrey2 py-10 mb-8">
    <div class="containerX">
        <h1 class="bigtitle my-0">
            <a href="{{ page.url }}">{{ title }}</a>
        </h1>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 gap-y-10">
            {% for vid in featuredVideos %}
                <div>
                    <a href="{{vid.url}}">
                        {% include "components/youtube-thumbnail.html", video: vid %} 
                    </a>
                    <div class="mt-2">
                        <a href="{{vid.url}}" class="no-underline hover:underline">
                            <div class="truncate">
                                {{ vid.data.title | truncate:100 }}
                            </div>
                        </a>
                        
                        <div class="text-sm text-savjeelightgrey3">
                            {% include "components/video-duration-and-tags.html" video: vid, duration: vid.data.duration %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
    <div class="containerX px-4 md:px-0">
        <h1 class="bigtitle my-0 pt-10 mb-8">
            <a href="{{ page.url }}">{{ title }}</a>
        </h1>
    </div>
{% endif %}

<div class="containerX">
    {% for vid in videos  %}
        {% if featuredVideos contains vid %}
            {% continue %}
        {% endif %}

        <div class="more-item py-3">
            {% include "components/preview-video.html" video: vid %}
        </div>
    {% endfor %}
</div>

<div class="mt-20">
    {% include "components/paginator.html" %} 
</div>
