---
layout: page
title: Videos
quote: Simply Explained is taking complicated topics and explaining them in a simple and straightforward way.
---

{% assign latestVideos = collections.videos | reverse | getFeatureable %}

<div class="row latest-videos">
    {% for vid in latestVideos limit: 6 %}
        <div class="col-md-4 col-sm-6 col-xs-1 {% if forloop.index > 3 %}d-none d-sm-block{% endif %}">
            <div class="card">
                <a href="{{vid.url}}">
                    <img class="thumb" src="https://i.ytimg.com/vi/{{vid.data.videoId}}/mqdefault.jpg" loading="lazy">
                    <div class="content">
                        {{ vid.data.title | truncate:100 }}
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<hr>

{% assign series = video_series %}

{% for serie in series %}
    {% include video-series-overview.html, serieTitle:serie.title %}
{% endfor %}