---
layout: default
title: Videos
quote: Simply Explained is taking complicated topics and explaining them in a simple and straightforward way.
---
{% assign featuredVideos = collections.videos | reverse | getFeatureable | slice: 0,6 %}

<div class="bg-savjeelightgrey2 py-10 mb-8">
    <div class="mx-auto max-w-5xl">
        <h1 class="bigtitle my-0">
            <a href="{{ page.url }}">{{ title }}</a>
        </h1>

        <div class="grid grid-cols-3 gap-8 gap-y-10">
            {% for vid in featuredVideos %}
                <div>
                    <a href="{{vid.url}}">
                        {% include "components/youtube-thumbnail.html", video: vid %} 
                    </a>
                    <div class="mt-2">
                        <a href="{{vid.url}}" class="no-underline hover:underline">
                            <div class="truncate">
                                {{ vid.data.title | truncate:100 }}
                            </div>
                        </a>
                        
                        <div class="text-sm text-savjeelightgrey3">
                            {% include "components/video-duration-and-tags.html" video: vid, duration: vid.data.duration %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="mx-auto max-w-5xl">
    {% assign shownVideos = 0 %}
    {% assign maxVideos = 6 %}

    {% assign videos = collections.videos | sort: "date" %}
    {% for vid in videos reversed %}
        {% if featuredVideos contains vid %}
            {% continue %}
        {% endif %}

        {% assign shownVideos = shownVideos | plus: 1 %}

        {% if shownVideos > maxVideos %}
            <div class="more-item hidden">
        {% else %}
            <div class="more-item">
        {% endif %}

        {% include "components/preview-video.html" video: vid %}

        </div>
    {% endfor %}

    <div class="text-center py-8">
        <button class="secondary load-more-button">Load more</button>
    </div>
</div>

