@tailwind base;

@layer base {

    /* Links in headers should not have style*/
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
      @apply text-savjeeblack font-bold no-underline
    }

    h1, h2, h3, h4, h5, h6 {
      @apply font-bold
    }

    h1 {
      /* TODO: this is actually for page titles, should not be the default! */
      @apply text-4xl mt-14 pb-8
    }

    nav li a{
      @apply relative
    }

    nav li a:after{
      content: '';
      transition: width .6s cubic-bezier(0.075, 0.82, 0.165, 1);
      @apply absolute -bottom-2 left-0 h-1 w-0 bg-savjeered
    }

    nav li a:hover:after, 
    nav li a.active:after{
      @apply w-5
    }

    article img{
      @apply py-8 mx-auto max-w-full
    }

    article ul{
      @apply list-disc list-outside
    }

    article ol{
      @apply list-decimal list-outside
    }

    article h1{
      @apply text-2xl
    }

    /* ---- For the small underline beneath H1 and main navigation items ---- */
    article.page h1{
      @apply text-4xl
    }

    article.page h1 a{
      @apply relative
    }
    
    article.page h1 a:after{
      transition: width .6s cubic-bezier(0.075, 0.82, 0.165, 1);
      content: "";
      @apply absolute h-2 w-20 left-0 -bottom-3  bg-savjeeblue
    }

    h2 {
      @apply text-3xl pt-8;
    }
    
    h3 {
      @apply text-2xl pt-6;
    }

    h4{
      @apply text-xl pt-4
    }

    button, 
    button[type=submit],
    button.secondary:hover{
      @apply bg-savjeered text-savjeewhite border border-savjeered py-2 px-6 rounded-md font-bold
    }

    button.secondary,
    button:hover, 
    button[type=submit]:hover {
      @apply bg-savjeewhite text-savjeered border border-savjeered
    }

    input, 
    input[type=text]{
       @apply border border-savjeelightgrey4 py-2.5 px-4 outline-none
    }

    input:focus, 
    input:active{
      @apply border-savjeered outline-none
    }

    hr{
      @apply border-savjeelightgrey4
    }
    
    a {
      @apply text-savjeered font-semibold underline;
    }

    a:hover{
      @apply no-underline;
    }

    p{
      @apply text-base pb-4
    }

    pre,
    pre[class*=language-]{
      @apply bg-savjeelightgrey p-4 my-4 border border-savjeeblack text-sm
      
    }

    pre,
    code{
      @apply overflow-x-auto whitespace-pre
    }

    article p code{
      @apply bg-savjeelightgrey py-0.5 px-1 border border-savjeeblack text-sm
    }
}

@tailwind components;

@layer components {
}

@tailwind utilities;
