@import "savjee.colors";

.toc{
  display: none;

  &.visible{
    display:block;
  }
  
  h1{
    font-size: 1em;
  }

  &>.toc-list{
    overflow:hidden;
    position:relative;
  }

  .toc-list{
    color: $mainTextColor;
    font-size: 0.9em;
    margin:0;
    padding-left:10px;

    li{
      list-style:none;
      padding:  3px 0;
      border-left: solid 2px #EEE;

      a:hover{
        color: #000;
      }

      &.is-active-li{
        border-color: #E80000;
      }
    }

    .is-active-link{
      font-weight:700;
    }
  }

  a.toc-link{
    color: $mainTextColor;
    height: 100%;
    padding-left: 10px;
  }

  .is-collapsible{
    max-height:1000px;
    overflow:hidden;
    transition:all 300ms ease-in-out;
  }
  .is-collapsed{
    max-height:0;
  }

  .is-position-fixed{
    position:fixed !important;
    top:0
  }
}

// Darkmode support
@media (prefers-color-scheme: dark) {
  .toc{
    .toc-list{
      color: $mainTextColorDarkMode;
    }

    a.toc-link{
      color: $mainTextColorDarkMode;
    }
  }
}

@media (max-width: 1500px) {
  .toc {
        display: none !important;
    }
}