@import "savjee.colors";

.box {
    background-color: $codeBoxBackground;
    padding: 40px 30px;
    margin-bottom: 30px;
}

@media (prefers-color-scheme: dark) {
    .box {
        background-color: $headerBackgroundDarkMode;
    }
}
