.no-margin{
    margin:0 !important;
}

.no-margin-top {
    margin-top: 0;
}

.text-center{
    text-align:center;
}

.display-flex{
	display: flex;
}

.flex-vcenter{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.fluid-image{
    max-width: 100%;
    height: auto;
}

.font-normal{
    font-weight: normal;
}

.no-wrap{
    white-space:nowrap;
}

@media (max-width: 767px) {
	.hide-mobile {
        display: none;
    }
}