@import "savjee.colors";

$toc_width: 300px;
$toc_padding: 20px;

.toc {
  position: absolute;
  width: $toc_width;
  right: -$toc_width;
  background-color: $codeBoxBackground;
  padding: $toc_padding;

  h1 {
    font-size: 1em;
    margin: 0;
  }

  .toc-list {
    color: $mainTextColor;
    font-size: 0.9em;
    margin: 0;
    padding: 0;

    ul {
      padding-left: $toc_padding;
    }

    li {
      padding: 3px 0;

      a {
        color: $mainTextColor;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Darkmode support
@media (prefers-color-scheme: dark) {
  .toc {
    background-color: $headerBackgroundDarkMode;

    .toc-list {
      color: $mainTextColorDarkMode;

      li {
        a {
          color: $mainTextColorDarkMode;
        }
      }
    }
  }
}

@media (max-width: $containerWidth + (2 * $toc_width)) {
  .toc {
        display: none !important;
    }
}
