@import "savjee.colors";

$toc-width: 300px;
$toc-padding: 20px;

.toc {
  position: absolute;
  width: $toc-width;
  right: -$toc-width;
  background-color: $codebox-background;
  padding: $toc-padding;

  h1 {
    font-size: 1em;
    margin: 0;
  }

  .toc-list {
    color: $main-text-color;
    font-size: 0.9em;
    margin: 0;
    padding: 0;

    ul {
      padding-left: $toc-padding;
    }

    li {
      padding: 3px 0;

      a {
        color: $main-text-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Darkmode support
@media (prefers-color-scheme: dark) {
  .toc {
    background-color: $header-background-darkmode;

    .toc-list {
      color: $main-text-color-darkmode;

      li {
        a {
          color: $main-text-color-darkmode;
        }
      }
    }
  }
}

@media (max-width: $container-width + (2 * $toc-width)) {
  .toc {
        display: none !important;
    }
}
