$base-fontsize: 18px;

body {
    font-family:
        // Replacement for -apple-system and BlinkMacSystemFont
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

article {
    line-height: 1.7;

    p {
        margin: 0 0 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0;
    }

    h1 { // Post titles only
        margin: 1em 0;
        font-size: 2em;
        line-height: 1.3;
    }

    h2 {
        margin: 1.5em 0 0;
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }

    img + em,
    picture + em { // Captions for images
        font-size: 0.8em;
    }

    // Didicated code block
    pre {
        font-size: 0.8em;
        line-height: 1.5;
    }

    // Inline codeblock
    p code,
    li code {
        font-size: 0.8em;
    }

    // APA citations for videos
    .csl-bib-body {
        font-size: 0.8em;
    }
}
