@import "savjee.colors";

// I use "nwsltr-sub" because the adblock list
// "Fanboy Annoyances" blocks the class name "newsletter-subscribe"
.box.nwsltr-sub{
    input{
		border: solid 1px #fff;
		font-size: 1em;
		padding: 10px;
		border: solid 1px $codeBoxBorder;
	}

	button[type=submit]{
		font-size: 1em;
		padding: 10px 15px;
		margin-bottom: 0.8em;
		background-color:$codeBoxBorder;
		border: none;
	}

	button[type=submit]:hover{
		cursor:pointer;
	}

	h2{
		margin-top:0;
	}
	
	input{
		width: 50%;
		margin-bottom: 0.8em;
	}
}

@media (max-width: 767px) {
    .box.nwsltr-sub{
        input{
            width: 100%;
        }
       	button[type=submit]{
            display:block;
            margin: 0 auto 10px auto;
        }
    }
}