@import "savjee.colors";
@import "savjee.typography";

/* ----------------- Main site styles ----------------- */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: $base_fontsize;
    color: $main-text-color;
}

.container {
    max-width: $container-width;
    padding: 20px;
    margin: 0 auto;
    position: relative;

    &.video {
        max-width: 1080px;
    }

    &.single {
        padding-top: 0;
    }

    &.wider {
        max-width: 960px;
    }
}

pre,
code {
    overflow-x: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

pre,
p code,
li code {
    background-color: $codebox-background !important;
    border: solid 1px $codebox-border !important;
}

figure {
    margin: 0;
}

pre {
    padding: 1em;
}

p code,
li code {
    padding: 2px 5px;
    margin: 0 2px;
}

a {
    color: $link-color;
    transition: color 0.25s ease-in-out;
    text-decoration: none;

    &:hover {
        color: rgb(0 121 152 / 50%);
    }
}

article {
    margin: 0 0 35px;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img + em,
    picture + em {
        text-align: center;
        display: block;
    }

    h1 a {
        color: #404040;
    }

    .post-title {
        text-decoration: none;

        a {
            text-decoration: none !important;
        }
    }

    .post-description {
        a {
            text-decoration: underline;
        }
    }
}

.related-posts {
    background-color: $codebox-background;
    padding: 40px 30px;
    margin-bottom: 30px;

    h2 {
        margin-top: 0;
    }

    ul {
        margin-bottom: 0;
    }

    li {
        padding-bottom: 20px;

        &:last-child {
            padding: 0;
        }
    }
}

@media (max-width: 767px) {
    .related-posts {
        ul {
            list-style: none;
            padding: 0;
        }
    }
}

hr {
    border: none;
    border-top: solid 1px #ddd;
    margin-top: 20px;
    padding: 0 0 15px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0;
    padding: 20px;

    p {
        display: inline;
    }
}

footer {
    margin: 30px 0;

    p {
        text-align: center;
        font-size: 0.7em;
        line-height: 10px;
    }

    p,
    a {
        color: #959595;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: $main-text-color-darkmode;
        background: $body-background-darkmode;
    }

    pre,
    p code,
    li code {
        background-color: $header-background-darkmode !important;
    }

    article h1 a {
        color: #cec7c8;
    }

    pre {
        background-color: #202020;
    }

    a {
        color: $link-color-darkmode;

        &:hover {
            color: $link-color;
        }
    }

    .related-posts {
        background-color: $header-background-darkmode;
    }

    blockquote {
        background: #333;
        border-left: 10px solid #ccc;
    }
}
