$body-background-darkmode: #222;

// Main colors
$main-brand-color: #54bc4b;
$main-text-color: #2a2f35;
$main-text-color-darkmode: #fff;

// Codeboxes
$codebox-background: #f8f8f8;
$codebox-background-darkmode: #505050;
$codebox-border: #d1d1d1;

// Links
$link-color: #007998;
$link-color-darkmode: #1cd1ff;

// Header
$header-background: #f8f8f8;
$header-background-darkmode: #323232;

// Other parameters
$container-width: 760px;
