@import "savjee.colors";

header {
    background-color: $header-background;

    .container {
        display: flex;
    }

    .logo {
        margin-right: 10px;
        width: 60px;
        height: 60px;

        img {
            height: 60px;
            width: 60px;
        }
    }

    nav {
        flex: 1; // Grow to fill out the space
        text-align: right;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 2px 10px 0 0;

                a {
                    padding: 5px 10px;
                    text-transform: uppercase;
                    color: #423e45;
                    position: relative;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;

                    &::after {
                        transition: width 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                        width: 0;
                        height: 2px;
                        background-color: #423e45;
                    }

                    &:hover,
                    &.active {
                        color: #423e45;

                        &::after {
                            text-decoration: none;
                            width: 13px;
                        }
                    }
                }

                &:last-child {
                    margin-right: 0;

                    a {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .brand-name {
        font-size: 19px;
        font-weight: 100;

        a {
            color: #565656;
            text-decoration: none;
        }
    }
}

@media (max-width: 650px) {
    header {
        .container {
            flex-wrap: wrap;
        }

        .flex-vcenter {
            flex-basis: 100%;
            text-align: center;
        }

        nav {
            text-align: center;
            margin-top: 15px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: $header-background-darkmode;

        .brand-name a {
            color: #fff;
        }

        nav {
            ul li a {
                color: #fff;

                &:hover,
                &.active {
                    color: #fff;
                }

                &::after {
                    background-color: #fff;
                }
            }
        }
    }
}
